@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
    height: 100px;
}

.background{
    background-image: url(/cforjune/assets/1.jfif);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1111111111111;
    filter: brightness(50%);
}

.full-height{
    height: 100vh;
}

.bigger-font{
    font-size: 20px;
}

.texts{
    margin-top: 50px;
}

.navbar.scrolled{
    background-color: #686D76;
}

.margin-top{
    margin-top: 175px;
}

.margin-top2{
    margin-top: 150px;
}

.img-2{
    width: 700px;
    height: 220px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 50px;
}

.custom-images{
    width: 429px;
    height: 466px;
    border-radius: 50px;
}

.custom-fonts{
    font-size: 30px;
    margin-bottom: 25px;
}

.button{
    text-decoration: none;
    color: white;
    width: 205px;
    height: 65px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid white;
    transition: all 0.5s;
}

.button:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.picture{
    transition: all 0.5s;
}

.picture:hover{
    transform: scale(1.1);
}

@media (max-width : 1500px) {
    .margin-top{
        margin-top: 90px;
    }

    .margin-top2{
        margin-top: 20px;

    }

    .full-height2{
        height: 140vh;
    }

    .full-height3{
        height: 110vh;
    }

    .small{
        width: 75%;
        height: 75% ;
    }
    

}
